# Salesforce Credentials Template
# Rename this file to .env and fill in your details

SF_USERNAME=your_username@example.com
SF_PASSWORD=yourPasswordAndSecurityTokenCombined
SF_LOGIN_URL=https://login.salesforce.com
